* {
	box-sizing: border-box;
	background-color: #E3E8F3;
	font-family: 'Roboto';
	font-weight: bold;
}

html,body{
	margin: 0px;
	/* padding:5px; */
}



/* Bigger Display */
@media only screen and (min-width: 601px) {
	
	/* TO hide the banner in the footer which will be only displayed in bigger display */
	#bannerFooter {
		display: none;
	}

	img{
		width: 35%;
		height: auto;
		margin-left: 10%;
		margin-bottom: 30px;
		object-fit: contain;
		background-color: rgb(255, 255, 255); /*Just for visual purpose during initial designing*/
		transition: transform .2s;
		border-radius: 10px;
		border: 2px solid black;
		z-index: 4;
	}

	img.info{
		width: 40%;
		height: auto;
		margin: auto;
		margin-top: 2%;
		margin-left: 30%;
	}

	img:hover{
		transform:scale(1.5);
	}

	div.video{
		display: flex;
		justify-content: center;
		align-items: center;
		
	}

	.video iframe{
		border: 2px solid black;
		border-radius: 10px;
		width:560px; 
		height:315px;
	}

	

	/* hiding top nav */
	div.topnav{
		display: none;
	}

	span.material-symbols-outlined{
		display: none;
	}

	/* banner styling to be shown on the top of each page */
	#banner {
		display: flex;
		margin:auto;
		margin: -5px;	
		height: 100px;
		padding:5px;
		padding-top:0px;
		justify-content: center;
		align-items: center;
		font-family: 'Berlin Sans FB Demi', sans-serif;
		font-size: 400%;
	}

	/* banner styling to be shown in the footer of the webpage */
	#bannerFooter {
		position: relative;
		box-sizing: border-box;
		display: flex;
		height: 120px;
		padding:5px;
		padding-top:0px;
		justify-content: center;
		align-items: center;
		font-family: 'Berlin Sans FB Demi', sans-serif;
		font-size: 200%;
		float: left;
		background-color: #000000;
		width: 50%;
		z-index: 0;
	}
	

	#container {
		margin:auto;
		margin-top: -2px;
		height: auto;
		max-width: 1000px;
		border: 2px solid rgb(0, 0, 0);
		padding: 18px;
		padding-bottom: 0%;		
	}

	div.navBar{
		display: flex;
		border: #000000 2px solid;
		text-align:center;
		background-color: #000000;
		height: 50px;
		font-size: 130%;
		padding: 0;
		justify-content: center;
		align-items: center;

	}

	div.footer {
		box-sizing: border-box;
		height: 200px;
		width: 100%;
		max-width: 1000px;
		background-color: #000000;
		margin: auto;
		margin-bottom: -1px;		
	}

	ul {
		background-color: #000000;
		width: 100%;
	}

	li {
		display: inline-block;
		padding-right: 20px;
		padding-left: 20px;
		background-color: #000000;
	}


	h1 {
		text-align: center;
		padding: 0px;
		color: rgb(0, 0, 0);
	}

	h2{
		font-weight:bolder;
		font-size: 20px;
		margin-bottom: 0px;		
	}

	h2.center{
		text-align: center;
	}

	p {
		color: rgb(0, 0, 0);
		text-align:left;
		margin-bottom: 0px;
	}

	a {
		background-color: #000000;
		color: rgb(255, 255, 255);
		text-decoration: none;
	}

	/* Changing the font weight of the footer to normal */
	.footer a:link {
		font-weight: normal;
	}


	/* Changing the decoration of the links in other links to be underlined always which represents a link */
	.otherLinks a{
		text-decoration: underline;
	}

	a#logo{
		font-family: 'Berlin Sans FB Demi', sans-serif;
		color: #000000;
		background-color: #E3E8F3;
	}

	a#logoFooter{
		font-family: 'Berlin Sans FB Demi', sans-serif;
		color: #ffffff;
		background-color: #000000;
	}

	
	

	/* Style all font awesome icons */
	.footer .fa {
		padding: 20px;
		font-size: inherit;
		text-align: center;
		text-decoration: none;
		background-color: #000000;
	}
	
	/* Add a hover effect */
	.footer .fa:hover {
		transform: scale(1.5);
		background-color: transparent;
	}

	.socialMediaIcons {
		display: flex;
		position: relative;
		float: right;
		height: 120px;
		background-color: #000000;
		width: 25%;
		font-size: 20px;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-content: center;
		z-index: 1;
	}

	.otherLinks{
		position: relative;
		z-index: 0;
		background-color: #000000;
		float:left;
		height: 100%;
		width: 25%;
		padding:7px;
	}
	
	p#otherLinks{
		background-color: #000000;
		color: white;
		font-weight: normal;	
		z-index: 2;
		margin-top: 0px;
	}

	p#socialMediaIcons{
		background-color: #000000;
		color:white;
		margin-top: 0;
		font-size: 20px;
		text-align: center;
	}

	audio{
		margin-left: 30%;
		width:40%;
		border: 2px solid rgb(82, 82, 82);
		border-radius: 30px;
	}

	
}
	


/* Smaller Display */
@media only screen and (max-width: 600px) {

	body{
		min-width: 300px;
	}

	#container {
		margin:auto;
		height: auto;
		max-width: 1000px;
		border: 2px solid rgb(0, 0, 0);
		padding:5px;
		padding-top:0px;
		margin-left: 2px;
		margin-right: 4px;
	}

	div.navBar{
		display: none;
		border: #000000 2px solid;
		text-align:center;
		background-color: #000000;
		height: 50px;
		font-size: 130%;
		margin-left: -8px;
		margin-right: -8px;
		padding: 0;
		justify-content: center;
		align-items: center;
	}

	/* To make the logo a link to the homepage */
	a#logo{
		font-family: 'Berlin Sans FB Demi', sans-serif;
		color: #000000;
		background-color: #E3E8F3;
	}

	

	/* Style the navigation menu */
	.topnav {
		overflow: hidden;
		background-color: #fffafa;	
		margin-top: auto;
		display: block;	
	}
	
	/* Hide the links inside the navigation menu (except for logo/home) */
	.topnav #myLinks {
		/* To show the hamburger menu */
		display: none;
		
	}
	
	/* Style navigation menu links */
	.topnav a.links {
		background-color: #E3E8F3;
		color: #000000;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 100%;
		display: block;
		z-index: 1;		
	}
	
	/* Style the hamburger menu */
	.topnav a.icon {
		background-color: #E3E8F3;
		display: flex;
		position: absolute;
		right: 20px;
		top: 15px;
	}
	
	/* Add a grey background color on mouse-over */
	.topnav a:hover {
		background-color: rgb(173, 170, 170);
	}

	div.footer {
		display: inline-flex;
		height: fit-content;
		width:100%;
		background-color: #000000;
		margin: auto;
		margin-bottom: -5px; 
	}

	/* Style all font awesome icons */
	.footer .fa {
		padding: 20px;
		font-size: inherit;
		text-align: center;
		text-decoration: none;
		background-color: #000000;	
	}
	
	/* Add a hover effect if you want */
	.footer .fa:hover {
		transform: scale(1.2);
	}


	.footer .socialMediaIcons {
		overflow: hidden;
		display: flex;
		float: right;
		height: auto;
		background-color: #000000;
		width: 50%;
		font-size: 15px;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-content: center;
	}

	.footer .otherLinks{
		overflow: hidden;
		background-color: #000000;
		float:left;
		height: auto;
		width: 50%;
		padding: 7px;
	}
	
	.footer p#otherLinks{
		background-color: #000000;
		color: white;
		margin-top: 0px;
		font-weight: normal;	
	}

	

	/* For Normal Images */
	img{
		width: 80%;
		height: auto;
		border: black 2px solid;
		margin-left: 11%;
		object-fit: contain;
		background-color: rgb(255, 255, 255); /*Just for visual purpose during initial designing*/	
		border-radius: 10px;
		border: 2px solid black;
		margin-top: 2%;
	}

	img:hover{
		transform: none;
	}

	/* For Image infos */
	img#info{
		width: 80%;
		height: auto;
		margin-left: 10%;
		margin-bottom: 1%;
		margin-top: 2%;
	}

	div.video{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.video iframe{
		border: 2px solid black;
		border-radius: 10px;
		width:560px; 
		height:315px;
	}

	audio {
		margin-left: 10%;
		width: 80%;
		border: 2px solid rgb(82, 82, 82);
		border-radius: 30px;
	}


	#banner {
		display: flex;
		margin:auto;
		height: 50px;
		padding-top:0px;
		justify-content: center;
		align-items: center;
		font-family: 'Berlin Sans FB Demi', sans-serif;
		font-size: 250%;
		
	}
	

	

	

	/* Hiding the car wiki banner from the footer of the page since it was used in the bigger displays to fill the empt space. */
	a#logoFooter{
		display: none;
	}
	

	ul {
		background-color: #000000;
	}

	li {
		display: inline-block;
		padding-right: 25px;
		padding-left: 25px;
		background-color: #000000;
	}


	h1 {
		text-align: center;
		padding: 0px;
		color: rgb(0, 0, 0);
	}


	p {
		color: rgb(0, 0, 0);
		text-align:left;
		margin-bottom: 0;
	}

	a {
		background-color: #000000;
		color: rgb(255, 255, 255);
		text-decoration: none;
	}

	/* Changes the colour of the hamburger menu */
	a:link {
		color: rgb(0, 0, 0);
	}

	.footer a:link {
		color: rgb(255, 255, 255);
		font-weight: normal;
	}

	/* Made the links underlines to show them as links */
	.footer .otherLinks a{
		text-decoration: underline;
	}


	/* Removes the background colour. Dne to avoid overlapping */
	.topnav a:hover, #banner a:hover {
		font-size: larger;
		border-radius: 10px;
	}

	#banner a:hover{
		background-color: transparent;
	}

	p#subhead {
		font-weight:bolder;
		font-size: 20px;
	}

	/* To give a bit of space between the subheadings */
	h2{
		font-weight:bolder;
		font-size: 20px;
		margin-bottom: 0;
	}

	h2.center{
		text-align: center;
	}

	
	
}